<app-toolbar-med></app-toolbar-med>
<p class="nav-place-med">
<button   routerLink="/contexteFamilial">Accès formulaire soignant</button>

<div class="row">
  <div class="content">
    <p>Date : <input type="date">
    <p>Heure d'arrivée : <input type="time">
    <p>Heure du premier examen : <input type="time">
    <fieldset aria-label="Select an option" [(ngModel)]="NouveauNe">
      <input type="radio" value="1">Nouveau-né prématuré
      <input type="radio" value="2">Nouveau-né à terme
    </fieldset>

    <mat-expansion-panel *ngIf="NouveauNe == 1" expanded>
      <mat-expansion-panel-header class="panel">
        <mat-panel-title>
          Nouveau-né prématuré
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Age gestationnel : <input type="number">SA <input type="number"> jours
      <p>Poids de naissance : <input type="number">g <input type="number"> Percentile
      <p>Taille de naissance : <input type="number">cm <input type="number"> Percentile
      <p>Périmètre crânien de naissance : <input type="number">cm <input type="number"> Percentile
      <p>Aspect : <select>
          <option value="1">Rose</option>
          <option value="2">Erythrosique</option>
          <option value="3">Pâle</option>
          <option value="4">Cyanosé</option>
          <option value="5">Moribond</option>
          <option selected></option>
        </select>
      <p>Température à l'arrivée : <input type="number">°C
      <h3>Examen cardio-hémodynamique</h3>
      <p>Fréquence cardiaque : <input type="number"> Bpm
      <p>Pression artérielle :
      <p>PAS : <input type="number">mmHg | PAD : <input type="number">mmHg | PAM : <input type="number">mmHg
      <p>Pouls : <select [(ngModel)]="pouValue">
          <option value="1">Tous perçus</option>
          <option value="2">Sans anomalies</option>
          <option value="3">Faibles</option>
          <option value="4">Filants</option>
          <option value="5">Bondissants</option>
          <option value="6">Non perçus</option>
          <option value="7">Autre</option>
          <option selected></option>
        </select><input type="text" *ngIf="pouValue == '7'">
      <p>Temps de recoloration cutanée: <input type="number">secondes
      <p>Auscultation cardiaque : <select [(ngModel)]="AuscCardValue">
          <option value="1">Normale</option>
          <option value="2">Anormale</option>
          <option value="3">Autre</option>
          <option selected></option>
        </select><input type="text" *ngIf="AuscCardValue == '3'">
      <h3>Examen respiratoire</h3>
      <p>Fréquence respiratoire : <input type="number">secondes
      <p>Ventilation spontanée : <fieldset aria-label="Select an option" [(ngModel)]="VentilSpont">
          <input type="radio" value="1">Oui
          <input type="radio" value="2">Non
        </fieldset><select *ngIf="VentilSpont == '2'">
          <option></option>
          <option value="1">Ventilation non invasive</option>
          <option value="2">Ventilation invasive</option>
        </select> "texte libre en plus en cas de non ?"
      <p>Signe de lutte :<fieldset aria-label="Select an option" [(ngModel)]="Signedelutte">
          <input type="radio" value="1">Oui
          <input type="radio" value="2">Non
        </fieldset>
        <!-- condition a faire maiss pas compris -->
      
      <p>Auscultation respiratoire : <fieldset aria-label="Select an option" [(ngModel)]="Auscultrespiratoire">
          <input type="radio" value="1">Normal : Murmure vésiculaire bilatérale et symétrique
          <input type="radio" value="2">Anormale
        </fieldset><input type="text" *ngIf="Auscultrespiratoire == '2'">
      <h3>Examen abdominal</h3>
      <p>Abdomen : <select [(ngModel)]="Abdomen">
          <option value="1">Sans Particularités</option>
          <option value="2">Souple</option>
          <option value="3">Particularité</option>
        </select><input type="text" *ngIf="Abdomen == '3'">
      <p>Hépatomégalie : <fieldset aria-label="Select an option">
          <input type="radio" value="1">Oui
          <input type="radio" value="2">Non
        </fieldset>
      
      <p>Splénomégalie : <fieldset aria-label="Select an option">
          <input type="radio" value="1">Oui
          <input type="radio" value="2">Non
        </fieldset>
      
      <p>Organes génitaux externes : <select>
        <option value="1">Féminin</option>
        <option value="2">Masculin</option>
        <option selected></option>
      </select><select [(ngModel)]="OrgGenExt">
        <option value="1">Sans Particularités</option>
        <option value="2">Particularité</option>
      </select><input type="text" *ngIf="Abdomen == '2'">
      <p>Fosse lombaires : <input type="text">
      <p>Anus : <select [(ngModel)]="Anus">
        <option value="1">Sans Particularités</option>
        <option value="2">Particularité</option>
      </select><input type="text" *ngIf="Anus == '2'">
      <p>Emission de méconium : <fieldset aria-label="Select an option">
        <input type="radio" value="1">Oui
        <input type="radio" value="2">Non
      </fieldset>
      <p>Cordon ombilical : <input type="text"> 
      <p><input type="number"> artères et <input type="number"> veines
      <h3>Membres - Peau</h3>
      <fieldset aria-label="Select an option" [(ngModel)]="BoucheOreilleCou">
        <input type="radio" value="1">Sans Particularité
        <input type="radio" value="2">Particularité
      </fieldset><input type="text" *ngIf="BoucheOreilleCou   == '2'">
      <h3>Neurologique</h3>
      <h4>Yeux :</h4>
      <p>Ouverture spontanée des yeux : <fieldset aria-label="Select an option">
        <input type="radio" value="1">Oui
        <input type="radio" value="2">Non
      </fieldset>
      <p>Vus <select [(ngModel)]="VUS">
        <option value="1">Sans particularité</option>
        <option value="2">Avec particularité</option>
        <option value="3">Non vus</option>
      </select> <input type="text" *ngIf="VUS == 2">
      <p>Tonus Axial <select [(ngModel)]="TA">
        <option value="1">Normal pour le terma</option>
        <option value="2">Hypotonie</option>
        <option value="3">Hypertonie</option>
        <option value="4">Non évaluable</option>
      </select> <input type="text" *ngIf="TA == 4">
      <p>Tonus périphérique <select [(ngModel)]="TP">
        <option value="1">Normal pour le terma</option>
        <option value="2">Hypotonie en rapport avec le terme</option>
        <option value="3">Hypotonie</option>
        <option value="4">Hypertonie</option>
        <option value="5">Non évaluable</option>
      </select> <input type="text" *ngIf="TP ==5">
      <p>Gesticulation spontanée - motricité <select [(ngModel)]="GSM">
        <option value="1">Normal pour le terma</option>
        <option value="2">Particularité</option>
      </select> <input type="text" *ngIf="GSM == 2">
      <p>Contact <select [(ngModel)]="GSM">
        <option value="1">Normal</option>
        <option value="2">Particularité</option>
      </select> <input type="text" *ngIf="GSM == 2">
      <p>Fontanelle <select [(ngModel)]="Fontanelle">
        <option value="1">Normale et normotendue</option>
        <option value="2">Particularité</option>
      </select> <input type="text" *ngIf="Fontanelle == 2">
      <p>Reflexe archaïques <select [(ngModel)]="RA">
        <option value="1">Présents et habituels pour le terme</option>
        <option value="2">Particularité</option>
      </select> <input type="text" *ngIf="RA == 2">
      <p>Succion <select [(ngModel)]="Fontanelle">
        <option value="1">Efficace</option>
        <option value="2">Ebauche</option>
        <option value="3">Particularité</option>
      </select> <input type="text" *ngIf="Fontanelle == 2">
      <p>Synthèse de l'examen clinique initial
      <textarea name="" id="" cols="60" rows="10"></textarea>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="NouveauNe == 2" expanded>
      <mat-expansion-panel-header class="panel">
        <mat-panel-title>
          Nouveau-né à terme
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Age gestationnel : <input type="number">SA <input type="number"> jours
      <p>Poids de naissance : <input type="number">g <input type="number"> Percentile
      <p>Taille de naissance : <input type="number">cm <input type="number"> Percentile
      <p>Périmètre crânien de naissance : <input type="number">cm <input type="number"> Percentile
      <p>Aspect : <select>
          <option value="1">Rose</option>
          <option value="2">Erythrosique</option>
          <option value="3">Pâle</option>
          <option value="4">Cyanosé</option>
          <option value="5">Moribond</option>
          <option selected></option>
        </select>
      <p>Température à l'arrivée : <input type="number">°C
      <h3>Examen cardio-hémodynamique</h3>
      <p>Fréquence cardiaque : <input type="number"> Bpm
      <p>Pression artérielle :
      <p>PAS : <input type="number">mmHg | PAD : <input type="number">mmHg | PAM : <input type="number">mmHg
      <p>Pouls : <select [(ngModel)]="pouValue">
          <option value="1">Tous perçus</option>
          <option value="2">Sans anomalies</option>
          <option value="3">Faibles</option>
          <option value="4">Filants</option>
          <option value="5">Bondissants</option>
          <option value="6">Non perçus</option>
          <option value="7">Autre</option>
          <option selected></option>
        </select><input type="text" *ngIf="pouValue == '7'">
      <p>Temps de recoloration cutanée: <input type="number">secondes
      <p>Auscultation cardiaque : <select [(ngModel)]="AuscCardValue">
          <option value="1">Normale</option>
          <option value="2">Anormale</option>
          <option value="3">Autre</option>
          <option selected></option>
        </select><input type="text" *ngIf="AuscCardValue == '3'">
      <h3>Examen respiratoire</h3>
      <p>Fréquence respiratoire : <input type="number">secondes
      <p>Ventilation spontanée : <fieldset aria-label="Select an option" [(ngModel)]="VentilSpont">
          <input type="radio" value="1">Oui
          <input type="radio" value="2">Non
        </fieldset><select *ngIf="VentilSpont == '2'">
          <option></option>
          <option value="1">Ventilation non invasive</option>
          <option value="2">Ventilation invasive</option>
        </select> "texte libre en plus en cas de non ?"
      <p>Signe de lutte :<fieldset aria-label="Select an option" [(ngModel)]="Signedelutte">
          <input type="radio" value="1">Oui
          <input type="radio" value="2">Non
        </fieldset>
        <!-- condition a faire maiss pas compris -->
      
      <p>Auscultation respiratoire : <fieldset aria-label="Select an option" [(ngModel)]="Auscultrespiratoire">
          <input type="radio" value="1">Normal : Murmure vésiculaire bilatérale et symétrique
          <input type="radio" value="2">Anormale
        </fieldset>
        <input type="text" *ngIf="Auscultrespiratoire == '2'">
      <h3>Examen abdominal</h3>
      <p>Abdomen : <select [(ngModel)]="Abdomen">
          <option value="1">Sans Particularités</option>
          <option value="2">Souple</option>
          <option value="3">Particularité</option>
        </select><input type="text" *ngIf="Abdomen == '3'">
      <p>Hépatomégalie : <fieldset aria-label="Select an option">
          <input type="radio" value="1">Oui
          <input type="radio" value="2">Non
        </fieldset>
      
      <p>Splénomégalie : <fieldset aria-label="Select an option">
          <input type="radio" value="1">Oui
          <input type="radio" value="2">Non
        </fieldset>

      <p>Organes génitaux externes : <select>
          <option value="1">Féminin</option>
          <option value="2">Masculin</option>
          <option selected></option>
        </select><select [(ngModel)]="OrgGenExt">
          <option value="1">Sans Particularités</option>
          <option value="2">Particularité</option>
        </select><input type="text" *ngIf="Abdomen == '2'">
      <p>Fosse lombaires : <input type="text">
      <p>Anus : <select [(ngModel)]="Anus">
          <option value="1">Sans Particularités</option>
          <option value="2">Particularité</option>
        </select><input type="text" *ngIf="Anus == '2'">
      <p>Emission de méconium : <fieldset aria-label="Select an option">
          <input type="radio" value="1">Oui
          <input type="radio" value="2">Non
        </fieldset>
      
      <p>Cordon ombilical : <input type="text"> 
      <p><input type="number"> artères et <input type="number"> veines
      <h3>Membres - Peau</h3>
      <fieldset aria-label="Select an option" [(ngModel)]="BoucheOreilleCou">
        <input type="radio" value="1">Sans Particularité
        <input type="radio" value="2">Particularité
      </fieldset><input type="text" *ngIf="BoucheOreilleCou   == '2'">
      <h3>Neurologique</h3>
      <h4>Yeux :</h4>
      <p>Ouverture spontanée des yeux : <fieldset aria-label="Select an option">
          <input type="radio" value="1">Oui
          <input type="radio" value="2">Non
        </fieldset>
      
      <p>Vus <select [(ngModel)]="VUS">
        <option value="1">Sans particularité</option>
        <option value="2">Avec particularité</option>
        <option value="3">Non vus</option>
      </select> <input type="text" *ngIf="VUS == 2">
      <p>Tonus Axial <select [(ngModel)]="TA">
        <option value="1">Normal pour le terma</option>
        <option value="2">Hypotonie</option>
        <option value="3">Hypertonie</option>
        <option value="4">Non évaluable</option>
      </select> <input type="text" *ngIf="TA == 4">
      <p>Tonus périphérique <select [(ngModel)]="TP">
        <option value="1">Normal pour le terma</option>
        <option value="2">Hypotonie en rapport avec le terme</option>
        <option value="3">Hypotonie</option>
        <option value="4">Hypertonie</option>
        <option value="5">Non évaluable</option>
      </select> <input type="text" *ngIf="TP ==5">
      <p>Gesticulation spontanée - motricité <select [(ngModel)]="GSM">
        <option value="1">Normal pour le terma</option>
        <option value="2">Particularité</option>
      </select> <input type="text" *ngIf="GSM == 2">
      <p>Contact <select [(ngModel)]="GSM">
        <option value="1">Normal</option>
        <option value="2">Particularité</option>
      </select> <input type="text" *ngIf="GSM == 2">
      <p>Fontanelle <select [(ngModel)]="Fontanelle">
        <option value="1">Normale et normotendue</option>
        <option value="2">Particularité</option>
      </select> <input type="text" *ngIf="Fontanelle == 2">
      <p>Reflexe archaïques <select [(ngModel)]="RA">
        <option value="1">Présents et habituels pour le terme</option>
        <option value="2">Particularité</option>
      </select> <input type="text" *ngIf="RA == 2">
      Neurologique si contexte d’asphyxie périnatale<fieldset aria-label="Select an option" [(ngModel)]="Neuro">
        <input type="radio" value="1">Oui
        <input type="radio" value="2">Non
      </fieldset><br><br>
      <div *ngIf="Neuro== 1">
        Nouveau-né avec analgésie-sédation<fieldset aria-label="Select an option" [(ngModel)]="analgesie">
          <input type="radio" value="1">Oui
          <input type="radio" value="2">Non
          <input type="text" *ngIf="analgesie== 1">
        </fieldset>*
        <p>Fontanelle <select [(ngModel)]="Fontanelle">
          <option value="1">Normale et normotendue</option>
          <option value="2">Particularité</option>
        </select> <input type="text" *ngIf="Fontanelle == 2">
        <img src="../../../../assets/Sarnat.png">
      </div>
      <p>Synthèse de l'examen clinique initial
      <textarea name="" id="" cols="60" rows="10"></textarea>
    </mat-expansion-panel>
  </div>
</div>
